<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
  	<div>
  		<h4>Registration Page</h4>
  		<h4>Login Page</h4>
  		<br>
  		<label>Enter First Name: </label>
      <br>
  		<input type="text">
  		<br>
  		<label>Enter Last Name: </label>
      <br>
  		<input type="text">
  		<br>
  		<label>Enter User Name: </label>
      <br>
  		<input type="email">
  		<br>
  		<label>Enter Date of Birth: </label>
      <br>
  		<input type="date">
  		<br>
  		<label>Enter Password: </label>
      <br>
  		<input type="password">
  		<br>
      <div style="margin-top: 10%">
  			<button mat-button (click)="onBack()">Register</button>
  			<button mat-button (click)="onBack()">Back</button>
      </div>
  	</div>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>