<mat-grid-list cols="2" rowHeight="2:1">
	<mat-grid-tile>
		<div>
			<h4 [style.background-color]="messageColor">{{message | uppercase}}</h4>
			<!-- <h4>{{salary | currency : 'USD':true}}</h4>
			<h4>{{  birthday | date:'fullDate' | uppercase}}</h4> -->
			<br>
			<label>Enter Email: </label>
			<br>
			<input type="email">
			<br>
			<label>Enter Password: </label>
			<br>
			<input type="password">
			<br>
			<div style="margin-top: 10%">
				<button mat-button (click)="onLogin()">Login</button>
				<button mat-button (click)="onRegister()">Resigster</button>
			</div>
		</div>
	</mat-grid-tile>
</mat-grid-list>